<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Cloud Server</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body bgcolor="#000000" style="font-family: 'Roboto Slab', serif;">

<div id="app" style="color: white; font-size: 30px" align="center">
    Live Stream... <br/>
    <button v-on:click="reset()" style="margin-right: 1rem">Reset</button>
    <pre>
{{ console_log }}
    </pre>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script> {% include 'js/index.js' %} </script>

<script>
function start_scroll_down() {
   scroll = setInterval(function(){ window.scrollBy(0, 1000); console.log('start');}, 1500);
}

function stop_scroll_down() {
   clearInterval(scroll);
   console.log('stop');
}

start_scroll_down();
</script>
</html>